<div class="featured-image">
  <img src="<%= image_url("splurge/featured-image.jpg") %>" />
</div>

<div class="featured-text">
  <h1>Welcome to the Codelation Store.</h1>
  <p>
    This store was created to showcase Ember.js and Spree. Together at last.
  </p>
  <p>
    Now that there is the Tec-9, a crappy spray gun from South Miami.
    This gun is advertised as the most popular gun in American crime.
    Do you believe that shit? It actually says that in the little book
    that comes with it: the most popular gun in American crime. Like
    they're actually proud of that shit.
  </p>
</div>

<div class="featured-products">
  <h2>Featured Products</h2>
  <ul>
    {{#each product in content}}
      {{#view App.FeaturedProductView indexBinding="_view.contentIndex"}}
        {{#link-to "products.show" product}}
          <img {{bind-attr src="product.masterImage.productUrl" alt="product.masterImage.alt"}} />
          <h3>{{product.name}}</h3>
          <div class="price">
            {{product.displayPrice}}
          </div>
        {{/link-to}}
      {{/view}}
    {{/each}}
  </ul>
</div>
