@import "splurge/bourbon";
@import "splurge/variables";
@import "splurge/neat";

body.splurge footer {
  & > * {
    @include outer-container;
    padding: 0 $base-font-size;
  }

  .powered-by,
  .social,
  .newsletter {
    @include span-columns(4);

    @include media($mobile) {
      @include span-columns(4);
    }
  }
}

body.splurge footer {
  color: lighten($base-font-color, 15%);
  padding-bottom: 2em;
  padding-top: 1em;

  .powered-by,
  .social,
  .newsletter {
    border-top: 1px solid $dark-border-color;
    position: relative;

    &:before {
      border-bottom: 1px solid $dark-border-color;
      content: "";
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    h4 {
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: normal;
      height: 28px;
      line-height: normal;
      margin: 1em 0 0.5em;
      text-transform: uppercase;
    }
  }

  .powered-by h4 .copyright {
    font-size: 19px;
    line-height: 14px;
    position: relative;
    top: 2px;
  }
}

body.splurge footer .powered-by {
  font-size: 16px;

  a {
    color: lighten($base-font-color, 8%);

    &.splurge {
      color: $base-link-color;
    }

    &:hover {
      color: $hover-link-color;
    }
  }
}

body.splurge footer .social {
  p {
    padding-top: 4px;
  }

  a {
    background-color: lighten($base-font-color, 50%);
    border: 1px solid lighten($base-font-color, 50%);
    border-radius: 16px;
    color: $base-body-color;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height: 28px;
    margin: 0 8px 8px 0;
    text-decoration: none;
    text-align: center;
    width: 30px;
    @include transition(all 0.1s linear);

    &.facebook {
      &:hover {
        background-color: #445597;
        border-color: #445597;
      }
    }

    &.google-plus:hover {
      background-color: #d44c3f;
      border-color: #d44c3f;
    }

    &.instagram:hover {
      background-color: #af6e54;
      border-color: #af6e54;
    }

    &.pinterest:hover {
      background-color: #c41f2f;
      border-color: #c41f2f;
    }

    &.twitter:hover {
      background-color: #55acee;
      border-color: #55acee;
    }
  }
}

body.splurge footer .newsletter {
  input {
    border: none;
    border-bottom: 1px dotted darken($base-border-color, 5%);
    border-radius: 0;
    box-shadow: none;
    font-family: $sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 1.5em 0.5em 0.5em;
    width: 100%;
    @include transition(border-color 0.1s linear);

    &:focus {
      border-color: $base-link-color;
      box-shadow: none;
    }
  }

  p {
    padding-top: 3px;
    position: relative;
  }

  button {
    @include appearance(none);
    background-color: lighten($base-font-color, 50%);
    border: 1px solid lighten($base-font-color, 50%);
    border-radius: $base-border-radius;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    letter-spacing: 1px;
    line-height: normal;
    padding-bottom: 2px;
    padding-top: 0 !important;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    @include transition(all 0.1s ease);

    &:active {
      background-color: $base-body-color;
      border-color: $base-accent-color;
      color: $base-accent-color;
      opacity: 1;
    }
  }

  input:focus + button {
    background-color: $base-accent-color;
    border: 1px solid $base-accent-color;

    &:hover {
      background-color: darken($base-accent-color, 20%);
      border-color: darken($base-accent-color, 20%);
      opacity: 1;
    }
  }


}
